/* 
Project ageGuess
CSC 337
Developers: Rohan O'Malley,Daniel Peabody

This file is the main style sheet for the application. This sheet styles all of the game modes and rules pages.
Classes are kept consistant on those pages to allow for steamlined style changes. It uses the same navigation,
fonts, and background color found throughout the site.
*/

@font-face{
    font-family: 'Inter';
    src: url('Inter/static/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'happy';
  src: url('Happy.ttf') format('truetype');
}

body {
    background-image: linear-gradient(92.88deg, #5983e4 9.16%, #355fae 43.89%, #2146b4 64.72%);
    margin: 0;
    padding: 0;
    font-family:'Happy', sans-serif;
}

.nav {
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 2rem;
    background-color: rgb(0, 0, 0,0.5);
    padding-bottom: 1rem;
  }
  
  .nav > .nav-header {
    display: inline;
  }

  .nav p {
    color: white;
    padding-left: 20px;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 2rem;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 1.5rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 45px 20px 20px 10px;
    text-decoration: none;
    color: white;
  }
  
  .nav > .nav-links > a:hover {
    color: white;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 30px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-image: linear-gradient(92.88deg, #5983e4 9.16%, #355fae 43.89%, #2146b4 64.72%);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 100px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  #logo {
    width: 200px;
  }

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter";
}

.textContainer h1{
  font-size: 2.5rem;
}
.textContainer h2{
  font-size: 2rem;
}
.textContainer p{
  font-size: 1.5rem;
}

.guessArea {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    margin: 0;

}

.splitleft{
  background-color: rgb(0, 0, 0,0.5);
  border: 2px solid black;
  text-align: center;
  padding: 2rem;
}

.tag {
  margin: 0px;
  padding: 0px;
}

.guessArea img {
    height: 380px;
    border: 2px solid black;
    box-shadow: 5px 5px 2px black;
}

.guess {
  font-size: 13px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

#curScore {
  margin: 0px;
}
  
  .guess:hover {
      border-color: #ccc;
  }
  .guess:focus{
      border-color: #9147ff;
      background: #fff;
  }


#celebName {
  margin: 5px;
  padding: 0;
  color: white;
  font-size: 1.75rem;
}
#dateTaken {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.75rem;
}
  


/* CSS */
.button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 1rem;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #13cf4f 0 0 0 5px, transparent 0 0 0 0;
}

#ready {
  width: 20%;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


#ready a {
  text-decoration: none;
}

#ready a:visited{
  text-decoration: none;
  color: inherit;
}


/* Define styles for the table */
.leaderboard {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  max-width: 800px;
  font-family: Arial, sans-serif;
  border: 5px solid black;
  margin-bottom: 3rem;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: white;
  color: black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: black;
  color: white;
}
tr:hover {
  background-color: green;
}

.incorrect {
  animation: shakeRed 0.5s cubic-bezier(.36,.07,.19,.97) both;
	box-shadow: none;
}

@keyframes shakeRed {
  10%, 90% {
    background-color: red;
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct {
  animation: gflash 1s;
}

@keyframes gflash {
  10%, 90% {
    background-color: green;
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*Create a slow yellow flash for a second for the class close*/
.close {
  animation: yflash 1s;
}

@keyframes yflash {
  10%, 90% {
    background-color: yellow;
    transform: translate3d(-1px, 0, 0);
  }
}

.uploadPhotoArea{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: rgb(0, 0, 0,0.3);
  padding: 1rem;
}

.uploadPhotoArea p {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 0px;
  margin: 10px;
}
